
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&display=swap');

* {
    color: #707070;
}

body{
    margin: 0;
}

.main-header{
    background-image: url(elements/header-01.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -20px;
    
    background-color: #E4DBD2;
    text-align: center;
}

.page-title1 {
    margin-top: 0px;
    /* need to figure out how to centre
    
    margin-left: 250px;
    
    */
    margin-bottom: 0px;
    padding-top: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 96px;
    font-weight: lighter;
    
    /*background-color: blue;*/
   }

.page-title2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: lighter;
    /* need to figure out how to centre*/
    margin-top: 0px;
    
    /*background-color: blue;*/
}

/*this is the entire main navigation bar*/
.mainmenu li {
    display: inline;
    
}
 
/*these are the elements in the main navigation bar*/
.mainmenu a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    margin: 0.3em;
    font-size: 24px;
    

    
}

.mainmenu a:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
    bottom: 2px;
}

button{
    margin-top: 500px;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 10px;
    height: 60px;
    width: 160px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;

    
}

button:hover{
    background-color: rgba(0, 0, 0, .1);
    color: white;
    position: relative;
    bottom: 2px;
}

.hero-image{
    background-image: url(images/withoutdot.jpg);
    background-position: top;
    
    width: 1050px;
    margin: 0 auto;
    height: 700px;
    padding: 0 1.5em;
    border: 1px solid #707070;
    border-radius: 10px;

    /*not sure what these do here ... */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-header h5{
    
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 32px;
    text-align: center; 
    margin: 0;
    margin-top: 15px;
}

/*--------------------------------General Section--------------------------------*/
.section{
background-color: #E4DBD2;
}

.section h3{
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    font-weight: lighter;
    text-align: center;
    
    margin: 0; 
    /*this is for the line underneath
    background-color: salmon;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 20px;
    padding-top: 80px;
    border-bottom: 1px solid #707070;
    
}

.section h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0; 
    /*background-color: chartreuse;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 32px;
    text-align: center; 
    margin: 0;
    margin-bottom:20px;
    /*background-color: red;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
    
}

.section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-top: 20px;
}

.picture-mid-screen-church{
    
    background-image: url(images/soflc-attraction-nedelya-church-0080-hor-clsc.jpg);
    background-position: top;
    
    width: 1050px;
    margin: 0 auto;
    height: 700px;
    padding: 0 1.5em;
    border: 1px solid #707070;
    border-radius: 10px;

    /*not sure what these do here ... */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-mid-screen-reception{
    
    background-image: url(images/soflc-serdica-3571-hor-clsc.jpg);
    background-position: top;
    
    width: 1050px;
    margin: 0 auto;
    height: 700px;
    padding: 0 1.5em;
    border: 1px solid #707070;
    border-radius: 10px;

    /*not sure what these do here ... */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.more-padding-bottom{
    padding-bottom: 600px;
}

/*--------------------------------Child Section--------------------------------*/
.section-child{
    background-color: #E4DBD2;
}

.section-child h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0;
    
    /*this is for the line underneath
    background-color: skyblue;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
    padding-top: 60px;
}

.section-child h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    margin: 0;
    /*background-color:slateblue;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-child p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    width: 1100px;
    margin: 0 auto;
    padding: 0 0em;
}

.lobby-container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.map-container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.image-lobby{
    float:right;
    height: 500px;
    width: 650px;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-left:20px;
    margin-bottom:30px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-map{
    float: left;
    height: 500px;
    width: 650px;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-right:20px;
    margin-bottom:30px;
    margin-top:20px; 

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------------Website Footer--------------------------------*/
.footer-centre{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    background-image: url(elements/footer.png);
    /*background-color: tan;*/
    width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
    border-top: 1px solid #707070
}

footer{
    background-color: #E4DBD2;
    margin: 0;
}






